
/*Adding open_sans font to css file*/
@font-face {
    font-family: "open_sans";
    src: url('OpenSans_Font/opensanslight-webfont.woff2') format('woff2'),
         url('OpenSans_Font/opensanslight-webfont.woff') format('woff'),
         url('OpenSans_Font/OpenSansLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Activating open_sans for all*/
* {
    font-family: "open_sans";
}

h1 {
    color: goldenrod;
}

/*Removing blue font styling from hyperlinks*/
a:hover, a:visited, a:link, a:active
{
    color:inherit;
    text-decoration: none;
}

/*Removing blue font styling from tel number*/
a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}

/*Removing blue font styling from Email*/
a[href^="mailto"]{
    color:inherit;
    text-decoration:none;
}